.about {
  padding: 17rem 0 40rem 0;
  position: relative;
}

.container {
  position: relative;
  z-index: 1;
}

.section-header {
  text-align: left;
  margin-bottom: 1.5rem;
  margin: 0;
}

.section-title {
  font-size: 5rem;
  font-weight: 700;
  margin: 0;
}

.about-description {
  margin: 0;
  font-size: 1.1rem;
  font-size: 2.2rem;
  line-height: 2;
  font-weight: 500;
  color: #084860;
  max-width: 60%;
}

.bg-img {
  position: absolute;
  z-index: 0;
}

.blue-star {
  top: 0;
}

.cyan-star {
  transform: translate(11rem, 48.5rem);
  z-index: 1;
}

.tiny-bubbles {
  transform: translate(24rem, -7rem);
}

.right-about-coral {
  right: 0;
  transform: translateY(-10.5rem);
}

.left-about-coral {
  left: 0;
  transform: translateY(38rem)
}
