.teams {
    padding: 15rem 0 4rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.teams-hero-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 0;
    margin-bottom: 0;
    width: 100%;
}
.crab-pyramid-container {
    position: relative;
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crab-mascot {
    width: 380px;
    height: auto;
    z-index: 2;
    position: relative;
    transform: translateY(10px);
}

.rotating-text-ring {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    z-index: 1;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-ring-svg {
    width: 100%;
    height: 100%;
    display: block;
    overflow: visible;
    pointer-events: none;
    color: var(--bh-text);
}

.bubbles-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    pointer-events: none;
    z-index: 0;
}

.bubble {
    position: absolute;
    width: 350px;
    height: auto;
    opacity: 0.9;
}

.bubble-top-right {
    top: 0px;
    left: 67%;
    width: 400px;
}

.bubble-middle-left {
    top: 130px;
    left: 13%;
    width: 320px;
}

.bubble-center-bottom {
    top: 350px;
    left: 50%;
    transform: translateX(-50%);
    width: 380px;
}

.teams-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    pointer-events: none;
}

.teams-wave svg {
    width: 100%;
    height: auto;
    display: block;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
    .teams {
        padding: 10rem 0 2rem;
    }

    .crab-pyramid-container {
        width: 380px;
        height: 380px;
    }

    .crab-mascot {
        width: 320px;
    }

    .rotating-text-ring {
        width: 500px;
        height: 500px;
    }
}

@media screen and (max-width: 768px) {
    .teams {
        padding: 8rem 0 2rem;
    }

    .teams-hero-wrapper {
        justify-content: center;
        align-items: center;
    }

    .crab-pyramid-container {
        width: 300px;
        height: 300px;
    }

    .crab-mascot {
        width: 250px;
    }

    .rotating-text-ring {
        width: 400px;
        height: 400px;
    }

    .bubbles-container {
        height: 500px;
    }

    .teams-wave svg {
        width: 100vw;
        height: 100px; /* Increased height for tablet screens */
        min-height: 100px;
    }
}

@media screen and (max-width: 480px) {
    .teams {
        padding: 6rem 0 1rem;
    }

    .crab-pyramid-container {
        width: 250px;
        height: 250px;
    }

    .crab-mascot {
        width: 200px;
    }

    .rotating-text-ring {
        width: 320px;
        height: 320px;
    }

    .bubbles-container {
        height: 400px;
    }

    .teams-wave svg {
        height: 180px; /* Increased height for small screens */
        min-height: 180px;
    }
}

@media screen and (max-width: 320px) {
    .crab-pyramid-container {
        width: 200px;
        height: 200px;
    }

    .crab-mascot {
        width: 160px;
    }

    .rotating-text-ring {
        width: 260px;
        height: 260px;
    }

    .teams-wave svg {
        height: 200px; /* Even taller for very small screens */
        min-height: 200px;
        width: 100vw;
    }
}
