body {
    margin: 0;
    font-family:
        "JetBrains Mono",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Roboto",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(
        135deg,
        #6ec1e4 0%,
        #a6d9f9 40%,
        #d2eaff 70%,
        #b6aef9 100%
    );
    min-height: 100vh;
    overflow-x: hidden;
}

code {
    font-family:
        source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
